@media screen and (max-width: 1110px) {
  .Application {
    display: block;
    /* overflow: scroll; */
  }
  .sideBar {
    width: 100%;
    flex-direction: row;
  }
  .sideBar > .Menu_categories {
    flex-direction: row;
    padding: 0.5rem;
    width: 100%;
    justify-content: center;
  }

  .order_container {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    padding: 2rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 40%);

    /*
    margin: auto;
    border-radius: 1rem 1rem 0 0;
    animation: animation1 2s ease 0s 0 alternate none;
    */
  }

  .order_container_children {
    overflow: hidden;
    height: 90vh;
    border-radius: 0.4rem;
  }

  .order_container_children {
    /* height: 87%; */
  }
  .Price_displayer {
    height: fit-content;
  }
  @keyframes animation1 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  .order_container_children {
    flex-direction: column;
    gap: 1rem;
  }
}
