@media screen and (max-width: 1110px) {
  .Application {
    display: block;
    /* overflow: scroll; */
  }
  .sideBar {
    width: 100%;
    flex-direction: row;
  }
  .sideBar > .Menu_categories {
    flex-direction: row;
    padding: 0.5rem;
    width: 100%;
    justify-content: center;
  }

  .order_container {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    padding: 2rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 40%);
  }

  .order_container_children {
    overflow: hidden;
    height: 90vh;
    border-radius: 0.4rem;
    flex-direction: column;
    gap: 1rem;
  }
  
  .Price_displayer {
    height: fit-content;
  }

  .order_container_show {
    animation: order_container_animation 400ms ease-in-out;
  }

  /* .RecipeDisplayer {

  } */

  @keyframes order_container_animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
